doctype html
html
  head
    title Digital Me
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script
        include js/emojionearea.min.js
    script
        include js/Sidebar.js
    script
        include js/SlidePics.js
    script
        include js/btnCommentLike.js
    script
        include js/emojis.js
    script
        include js/modalPosts-ShowHide.js
    script
        include js/homepage_ready.js
    style
        include css/emojionearea.min.css
    style
       include css/style.css

  body.w3-light-grey.w3-content(style='max-width:1600px')
    // Navbar (sit on top)
    .w3-top
      .w3-bar.w3-white.w3-padding.w3-card(style='letter-spacing:4px;')
        a.w3-bar-item.w3-button(href='#homepage') Digital Me
        // Right-sided navbar links. Hide them on small screens
        .w3-right.w3-hide-small
          a.w3-bar-item.w3-button(href="/signout" id="") LogOut
    // Sidebar/menu
    nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style='z-index:3;width:300px; margin-top: 4px;')
      br
      .w3-container
        a.w3-hide-large.w3-right.w3-jumbo.w3-padding.w3-hover-grey(href='#', onclick='w3_close()', title='close menu')
          i.fa.fa-remove
        img.w3-round(id="fotoUser" src=user.img, style='width:45%;')
        br
        br
        h4
          b(id="nameId")
            = user.name
        p.w3-text-grey Área Pessoal
      .w3-bar-block
        a.w3-bar-item.w3-button.w3-padding.w3-text-teal(href='#portfolio', onclick='w3_close()')
          i.fa.fa-th-large.fa-fw.w3-margin-right
          | Cronologia
        a.w3-bar-item.w3-button.w3-padding(onclick='w3_close()', data-toggle='modal', data-target='#DPModal')
          i.fa.fa-envelope.fa-fw.w3-margin-right
          | Dados pessoais
        a.w3-bar-item.w3-button.w3-padding(onclick='w3_close()', data-toggle='modal', data-target='#publicarModal')
          i.fa.fa-paper-plane-o.fa-fw.w3-margin-right
          | Publicar
      .w3-panel.w3-large
        i.fa.fa-facebook-official.w3-hover-opacity
        i.fa.fa-instagram.w3-hover-opacity
        i.fa.fa-snapchat.w3-hover-opacity
        i.fa.fa-pinterest-p.w3-hover-opacity
        i.fa.fa-twitter.w3-hover-opacity
        i.fa.fa-linkedin.w3-hover-opacity
    // Overlay effect when opening sidebar on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()', style='cursor:pointer', title='close side menu')
    // !PAGE CONTENT!
    .w3-main(style='margin-left:300px')
      // Header
      header#portfolio(style='margin-top: 50px')
        // a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a
        span.w3-button.w3-hide-large.w3-xxlarge.w3-hover-text-grey(onclick='w3_open()')
          i.fa.fa-bars
        .w3-container
          h1
            b Perfil
          .w3-section.w3-bottombar.w3-padding-16
            span.w3-margin-right Filtro:
             button.w3-button.w3-black(id="fiterAll" target="/homepage/all") 
              i.fa.fa-group.w3-margin-right
              | Tudo
            button.w3-button.w3-white.w3-hide-small(id="fiterThoughts" target="/homepage/thought")
              i.fa.fa-comment-o.w3-margin-right
              | Pensamentos
            button.w3-button.w3-white.w3-hide-small(id="fiterPics")
              i.fa.fa-photo.w3-margin-right
              | Fotos
            button.w3-button.w3-white.w3-hide-small(id="fiterSports")
              i.fa.fa-soccer-ball-o.w3-margin-right
              | Registos Desportivos
            button.w3-button.w3-white.w3-hide-small(id="fiterVideos")
              i.fa.fa-caret-square-o-right.w3-margin-right
              | Vídeos
            button.w3-button.w3-white.w3-hide-small(id="fiterRecipes")
              i.fa.fa-cutlery.w3-margin-right
              | Receitas
            button.w3-button.w3-white.w3-hide-small(id="fiterEvents")
              i.fa.fa-calendar.w3-margin-right
              | Eventos
            .dropdown
              button.dropbtn.w3-button.w3-white.w3-hide-small(id="fiterMyPosts")
                i.fa.fa-user.w3-margin-right
                | Meus Posts
              .dropdown-content
                a(href="#")
                  i.fa.fa-globe.w3-margin-right
                  | Todos
                a( id="filterPublic") 
                  i.fa.fa-unlock.w3-margin-right
                  | Públicos
                a(href="#", id="filterPrivate") 
                  i.fa.fa-lock.w3-margin-right
                  | Privados
      - var n = 0;
      - var testpost = {postPic: 'foto',postVideos: 'sport', postThought: 'thought', postVideo: 'video', postRecipes: 'recipe', postEvent: 'event'}
      each post in lposts
        case post.post_type
          // TEMPLATE PENSAMENTO
          when 0: .w3-container.w3-white.w3-margin.w3-padding-large
                    .w3-row.w3-margin-bottom
                      hr
                      .w3-col.l1.m3
                        img(src=post.posted_by_pic, style='width:50px; border-radius: 50%;')
                      .w3-col.l6.m9
                        h4
                          = post.posted_by 
                          span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
                    .w3-justify
                      p
                        = post.thought_text
                      p.w3-left
                        button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
                          b
                            i.fa.fa-thumbs-up
                            |  Like
                        button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
                          b
                            i.fa.fa-commenting-o
                            |  Comentar
                      p.w3-right
                        button#myBtn.w3-button.w3-black(onclick="myFunction('demo3')")
                          b Comentários
                          span.w3-tag.w3-white 1
                      p.w3-clear
                      #demo3.w3-row.w3-margin-bottom(style='display:none')
                        hr
                        .w3-col.l2.m3
                          img(src='imagens/fotoSantos.jpg', style='width:90px;')
                        .w3-col.l10.m9
                          h4
                            | George 
                            span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
                          p Great blog post! Following
          // Template Foto
          when 1: .w3-container.w3-white.w3-margin.w3-padding-large
                    .w3-row.w3-margin-bottom
                      hr
                      .w3-col.l1.m3
                        img(src=post.posted_by_pic, style='width:50px; border-radius: 50%;')
                      .w3-col.l6.m9
                        h4
                          = post.posted_by
                          span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
                    .w3-justify
                      p= post.photo_description
                      .w3-content.w3-display-container(style='max-width:800px')
                        div.carousel.slide(data-ride="carousel" id="myCarousel")
                          
                          ol.carousel-indicators
                            - var npics = 0;
                            
                            each i,index in post.img
                              if index
                                li(data-target="#myCarousel" data-slide-to=npics++)
                              else
                                li.active(data-target="#myCarousel" data-slide-to=npics++)
                          .carousel-inner
                            - var npics2 = 0;
                            
                            each i,index in post.img
                              if index
                                .item
                                  img(src=post.img[npics2++])
                              else
                                .item.active
                                  img(src=post.img[npics2++])
                          a.left.carousel-control(href="#myCarousel" data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left
                            span.sr-only Anterior
                          a.right.carousel-control(href="#myCarousel" data-slide="next")
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only Proximo
                      p.w3-left
                        button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
                          b
                            i.fa.fa-thumbs-up
                            |  Like
                        button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
                          b
                            i.fa.fa-commenting-o
                            |  Comentar
                      p.w3-right
                        button#myBtn.w3-button.w3-black(onclick="myFunction(demo1)")
                          b Comentários
                          span.w3-tag.w3-white 1
                      p.w3-clear
                      #demo1.w3-row.w3-margin-bottom(style='display:none')
                        hr
                        .w3-col.l2.m3
                          img(src='imagens/fotoSantos.jpg', style='width:90px;')
                        .w3-col.l10.m9
                          h4
                            | George 
                            span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
                          p Great blog post! Following
          // TEMPLATE VIDEO
          when 2: .w3-container.w3-white.w3-margin.w3-padding-large
                    .w3-row.w3-margin-bottom
                      hr
                      .w3-col.l1.m3
                        img(src=post.posted_by_pic style='width:50px; border-radius: 50%;')
                      .w3-col.l6.m9
                        h4
                          = post.posted_by
                          span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
                    .w3-justify
                      p= post.video_description
                      .w3-container
                        center
                          video(width='700', style='margin-top: 20px', controls='')
                            source(src=post.video type='video/mp4')
                            |                 Your browser does not support HTML5 video.
                      p.w3-left
                        button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
                          b
                            i.fa.fa-thumbs-up
                            |  Like
                        button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
                          b
                            i.fa.fa-commenting-o
                            |  Comentar
                      p.w3-right
                        button#myBtn.w3-button.w3-black(onclick="myFunction('demo2')")
                          b Comentários
                          span.w3-tag.w3-white 1
                      p.w3-clear
                      #demo2.w3-row.w3-margin-bottom(style='display:none')
                        hr
                        .w3-col.l2.m3
                          img(src='imagens/fotoSantos.jpg', style='width:90px;')
                        .w3-col.l10.m9
                          h4
                            | George 
                            span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
                          p Great blog post! Following

          

      .w3-black.w3-center.w3-padding-24 Powered by MIETI
      // End page content
    // Modal-Comentários
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Comentário:
          .modal-body
            form
              // textarea rows="4" cols="75" autofocus
              textarea#example1(rows='4', cols='75', autofocus='')
          .modal-footer
            button.w3-button.w3-white.w3-border(type='submit')
              i.fa.fa-check
              |  Enviar Comentário
            button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
              i.fa.fa-close.fa-fw
              |  Sair
    // Modal-Publicar
    #publicarModal.modal.fade(role='dialog')
      .modal-dialog.modal-lg
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Publicação:
          .modal-body
            .modal-body(style='margin-bottom: 20px')
              center
                button#btn_pensamentos.w3-button(type="button", style='background-color: #cccccc', name="btn_pensamentos")
                  i.fa.fa-comment-o.w3-margin-right
                  | Pensamentos
                button#btn_fotos.w3-button(type="button", name="btn_fotos")
                  i.fa.fa-photo.w3-margin-right
                  | Fotos
                button#btn_desportivo.w3-button(type="button", name="btn_desportivos")
                  i.fa.fa-soccer-ball-o.w3-margin-right
                  | Registos Desportivos
                button#btn_videos.w3-button(type="button", name="btn_videos")
                  i.fa.fa-caret-square-o-right.w3-margin-right
                  | Vídeos
                button#btn_receita.w3-button(type="button", name="btn_receita")
                  i.fa.fa-cutlery.w3-margin-right
                  | Receitas
                button#btn_evento.w3-button(type="button", name="btn_evento")
                  i.fa.fa-calendar.w3-margin-right
                  | Eventos
              // PENSAMENTO
              #pensamentos.form-row
                h3 Publicar Pensamento:
                form(action="/homepage/post", method="POST")
                  input(type="text", name="thought", id="thought", value="0", hidden)
                  label.col-form-label Pensamento:
                  textarea#example2(rows='4', cols='115', placeholder='Em que está a pensar?', name="thoughtDescription")
                  .form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label Localização:
                    input#localThought.form-control(type="text", name="tought_local", placeholder="Localização")
                  .form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name="privacy")
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                    button.w3-button.w3-white.w3-border(type='submit')
                      i.fa.fa-check
                      |  Publicar
                    button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                      i.fa.fa-close.fa-fw
                      |  Cancelar
              // FOTO
              #fotos.form-row(hidden='')
                h3 Publicar Foto:
                form(action="/homepage/post", method="POST" enctype='multipart/form-data')
                  input(type="text", name="foto", id="foto", value="1", hidden)
                  label.col-form-label Descrição:
                  textarea#example3(rows='2', cols='115', name="fotoDescription", placeholder="Descrição da foto")
                  .form-group.col-md-6(style='margin-top:10px')
                    label.col-form-label Escolher Foto:
                    input.form-group(type='file', name='post' id="post" multiple)
                  .form-group.col-md-6(style='margin-top:10px')
                    label.col-form-label Localização:
                    input#localFoto.form-control(type="text", name='fotoLocal', placeholder="Localização")
                  .form-row(style="margin-top: 11%; margin-left: 1%")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name="privacy")
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                    button.w3-button.w3-white.w3-border(type='submit')
                      i.fa.fa-check
                      |  Publicar
                    button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                      i.fa.fa-close.fa-fw
                      |  Cancelar
              // VIDEO
              #videos.form-row(hidden='')
                h3 Publicar Vídeo:
                form(action="/homepage/post", method="POST" enctype='multipart/form-data')
                  input(type="text", name="video", id="video", value="2", hidden)
                  label.col-form-label Descrição:
                  textarea#example4(rows='2', cols='115', name="videoDescription", placeholder="Descrição do Vídeo")
                  .form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label Escolher Vídeo:
                    input.form-group(type='file', name='post' id="post" multiple)
                  .form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label Localização:
                    input.form-control(type="text", name="videoLocal" id="videoLocal" placeholder="Localização")
                  .form-row(style="margin-top: 11%; margin-left: 1%")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name="privacy")
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                    button.w3-button.w3-white.w3-border(type='submit')
                      i.fa.fa-check
                      |  Publicar
                    button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                      i.fa.fa-close.fa-fw
                      |  Cancelar
              // REGISTO DESPORTIVO
              #desportivo.form-row(hidden='')
                h3 Publicar Registo Desportivo:
                form(action="/homepage/post", method="POST" enctype='multipart/form-data')
                  .form-group.col-md-6
                    label.col-form-label Desporto:
                    br
                    input(type="text" name="sport" id="sport" value="3" hidden)
                    input.form-control(type='text', placeholder='Desporto', name='sport_type')
                  .form-group.col-md-6
                    label.col-form-label Duração (hh:mm:ss):
                    input.form-control(type='time', name='sport_duration', step="1")
                  .form-group.col-md-6
                    label.col-form-label Distância (Kms):
                    input.form-control(type='number', name='sport_distance', placeholder="0.00", step="0.01", min="0.00")
                  .form-group.col-md-6
                    label.col-form-label Calorias gastas (kcal):
                    input.form-control(type='number', min='0', name='sport_calories', placeholder="0")
                  label.col-form-label Descrição:
                  textarea#example5(rows='2', cols='115', name='sport_desc', placeholder="Descrição do Registo Desportivo")
                  .form-group.col-md-6(style='margin-top:10px')
                    label.col-form-label Escolher Foto:
                    input.form-group(type='file' name='post' id="post" value="" multiple )
                  .form-group.col-md-6(style='margin-top:10px')
                    label.col-form-label Localização:
                    input#localFoto.form-control(type="text", name='sport_local', placeholder="Localização")
                  .form-row(style="margin-top: 11%; margin-left: 1%")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name='privacy')
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                    button.w3-button.w3-white.w3-border(type='submit')
                      i.fa.fa-check
                      |  Publicar
                    button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                      i.fa.fa-close.fa-fw
                      |  Cancelar
              // RECEITA
              #receita.form-row(hidden='')
                h3 Publicar Receita:
                form(action="/homepage/post", method="POST" enctype='multipart/form-data')
                  .form-group
                    lable.col-form-lable Nome da Receita:
                    input.form-control(type="text", name="recipe_name", placeholder="Receita", style="width:40%")
                  input(type="text", name="recipe", id="recipe", value="4", hidden)
                  .form-group
                    lable.col-form-lable Ingredientes:  
                    input.w3-button.w3-green.w3-border(id="btnIngr", name="btnIngr", type="button", style="margin-top: 5px", value="Mais Ingredientes")
                    ul.list-unstyled
                      li
                        input.form-control(type="text", placeholder="Ingrediente", name="ingredient", id="ingredient", style="width: 50%; margin-top: 5px")
                  label.col-form-label Preparação:
                  br
                  textarea#prep.form-control(rows='4', cols='115', placeholder='Modo de Preparação', name="recipeDescription")
                  .form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label(style='margin-top:10px') Escolher Foto:
                    input.form-group(type='file', name='post' id="post" multiple)
                  form-group.col-md-6(style="margin-top:10px")
                    label.col-form-label Localização:
                    input#localRecipe.form-control(type="text", name='cookLocal', placeholder="Localização")
                  .form-row(style="margin-top: 13%; margin-left: 1%")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name="privacy")
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                    button.w3-button.w3-white.w3-border(type='submit')
                      i.fa.fa-check
                      |  Publicar
                    button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                      i.fa.fa-close.fa-fw
                      |  Cancelar
              //Eventos
              #evento.form-row(hidden='')
                h3 Publicar Evento:
                form(action="/homepage/post", method="POST" enctype='multipart/form-data')
                  .form-group.col-md-6
                    lable.col-form-lable Nome do Evento:
                    input.form-control(type="text" name="event_name" placeholder="Evento")
                  input(type="text", name="event", id="event", value="5", hidden)
                  .form-group.col-md-6
                    lable.col-form-lable Data(dd/mm/aa):
                    input.form-control(type="date" name="event_date")
                  .form-group.col-md-6
                    lable.col-form-lable Hora (hh:mm):
                    input.form-control(type="time" name="event_hour")
                  .form-group.col-md-6
                    lable.col-form-lable Localização:
                    input.form-control(type="text" name="event_local" placeholder="Localização")
                  lable.col-form-label Descrição:
                  textarea#example6(cols="115", rows="2", placeholder="Descrição do Evento" name="event_desc")
                  .form-group.col-md-6(style="margin-top:15px")
                    lable.col-form-label Escolher Foto:
                    input.form-group(type="file", name="post" id="post" multiple)
                  .form-group.col-md-6(style="margin-top:15px")
                  .form-group.col-md-6
                    lable.col-form-label Tipo de Evento:
                    select.form-control(type="margin-bottom: 10px", name="event_type")
                      option(disabled, selected) Escolha um
                      option(value='Desportivo') Desportivo
                      option(value='Musical') Musical
                      option(value='Animação') Animação
                      option(value='Convívio') Convívio
                      option(value='Workshop') Workshop
                      option(value='Reunião') Reunião
                      option(value='Viagem') Viagem
                      option(value='Acampamento') Acampamento
                      option(value='Cinema') Cinema
                      option(value='Teatro') Teatro
                      option(value='Outro') Outro
                  .form-group.col-md-6
                    lable.col-form-lable Duração do evento:
                    input.form-control(type="time" name="event_duration")
                  .form-row(style="margin-top: 13%; margin-left: %")
                    label.col-form-label Privacidade:
                    select#priv.form-control(style='width: 150px; margin-bottom: 10px', name="privacy")
                      option(value='pub') Público
                      option(value='priv') Privado
                  .modal-footer
                      button.w3-button.w3-white.w3-border(type='submit')
                        i.fa.fa-check
                        |  Publicar
                      button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
                        i.fa.fa-close.fa-fw
                        |  Cancelar
                      
    // Modal-Dados pessoais
    #DPModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          form(id="changeProfData" action="/homepage/"+user._id+"/changeprofdata" method="POST" enctype='multipart/form-data')
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Consultar/Atualizar dados pessoais:

              .modal-body
                .form-row
                  .form-group.col-md-6
                    label.col-form-label Nome:
                    br
                    input.form-control(type='text' name="newName" id='newName')
                  .form-group.col-md-6
                    label.col-form-label Email:
                    input.form-control(type='email' name="newEmail" id='newEmail')
                  .form-group.col-md-6
                    label.col-form-label Data de Nascimento:
                    br
                    input.form-control(type='date' name="newDate" id='newDate')
                  .form-group.col-md-6(style='margin-top: 22px')
                    button#btn_password.w3-button.w3-white.w3-border(type='button')
                      i.fa.fa-lock.fa-fw
                      |  Alterar Password
                  #password.form-group(style=' margin-top: 10px', hidden='')
                    .form-group.col-md-6
                      label.col-form-label Password Atual:
                      br
                      input.form-control(type='password' name="newPassword" id="newPassword")
                    .form-group.col-md-6
                      label.col-form-label Nova Password:
                      input.form-control(type='password' name="newPasswordCheck" id="newPasswordCheck")
                      p(style="color: red" id="validate-status")
                  .form-group(style='margin-left: 15px; margin-top: 10px')
                    label.col-form-label Género:
                    br
                    input.w3-radio.w3-border(type='radio', name='newGender' id='male' value="Male")
                    label Masculino
                    br
                    input.w3-radio.w3-border(type='radio', name='newGender' id='female' value="Female")
                    label Feminino
                    br
                    input.w3-radio.w3-border(type='radio', name='newGender' id='other' value="Other")
                    label Outro
                    br
                .form-row(style='margin-left: 15px; margin-top:10px')
                  label.col-form-label Adicionar/Alterar Foto de perfil:
                  input.form-group(type='file', name='newProfPic' id="newProfPic")
            .modal-footer
              button.w3-button.w3-white.w3-border(type='submit' id="submitchangeprof")
                i.fa.fa-check
                |  Alterar
              button.w3-button.w3-white.w3-border(type='button' data-dismiss='modal')
                i.fa.fa-close.fa-fw
                |  Sair
